---
layout: archive
---

{{ content }}
<div>
  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

  <div class="col-lg-4 col-md-4 text-right">
    <ul>
      {% for category in site.categories %}
        <li>{{ category | first }} {{ category | last | size }}</li>
      {% endfor %}
    </ul>
  </div>

  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {% assign entries_layout = page.entries_layout | default: 'list' %}
  <div class="col-lg-8 col-md-8"> <!-- 왼쪽 컨텐츠 -->
    {% for post in posts %}
      {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>
</div>


  {% include paginator.html %}
